@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  background: rgb(14,49,80);
background: linear-gradient(90deg, rgba(14,49,80,1) 0%, rgba(109,201,200,1) 47%, rgba(247,233,227,1) 100%);
  font-family: "work sans";
  }


#loginform{
  max-width: 500px;
  min-width: 300px;
  max-height: 1000px;
  width: 30%;
  height: 80%;
  margin: 100px auto;
  background-color: #b63d3d;
  border-radius: 25px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.3);
  transition: box-shadow 500ms, background 1s;
  
}


.image > img {
    max-width: 100%;
    max-height: 100%;
    display:inline-block;
    align-self: center;
    margin-bottom: 25%;
    margin-top: 25%;
 


}
.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  padding-left: 4 rem;
  padding-bottom: 1rem;
}



.row button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}


#googleIcon{
  background-image: url("https://image.flaticon.com/icons/svg/145/145804.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a{
  margin: 0 0.6rem;
}

#alternativeLogin {
   text-align: center;
   padding-top: 2rem;
   margin-top: 1.5rem;
}

#title {
  text-align:left;
  margin-top: 1.5rem;
}