/* @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

/* maybe use sans-serif for large text such as links and headings */

.nav{
    background-color: #0e3150;
    
  }

.nav-link{
  color: #FFC0C2  !important;
  font-size: 26px;
  margin-left:50px;
  /* font-family: 'Oleo Script Swash Caps', cursive; */
  font-family: 'Domine', serif;

}

a.nav-link:hover
{
  background-color: #FFC0C2;
  -ms-transform: scale(1,1.3); /* IE 9 */
  transform: scale(1,1.3); /* Standard syntax */
  color: #0e3150 !important;
}

.hamburger {
  background-color:#FFC0C2  !important;
}

.user:hover {
  cursor: default !important ;
 
 }

  
  .logo-image{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }

