@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

/* maybe use sans-serif for large text such as links and headings */

.nav{
    background-color: #0e3150;
  }

.nav-link{
  color: #FFC0C2  !important;
  font-size: 26px;
  margin-left:50px;
  font-family: 'Oleo Script Swash Caps', cursive;
  /* font-weight: bolder; */

}

.hamburger {
  background-color:#FFC0C2  !important;
}

  
  .logo-image{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }