#loginform {
  max-width: 500px;
  min-width: 300px;
  max-height: 1000px;
  width: 30%;
  height: 70%;
  margin: 100px auto;
  background-color: #0E3150;
  background-color: black;
  border-radius: 25px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms, background 1s;
}
.image > img {
  max-width: 100%;
  max-height: 50%;
  display: inline-block;
  align-self: center;
  /* margin-bottom: 20%;
      margin-top: 20%; */
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4 rem;
  padding-right: 4 rem;
  /* max-width: 100%; */
 }
.row button {
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: #0E3150;
  ;
  /* font-weight: bolder; */
  font-family: 'Oleo Script Swash Caps', cursive;
  background: #6DC9C8;
  border: 0px;
  cursor: pointer;
  letter-spacing: 2px;
}
.row button:hover {
  background-color: rgb(253, 187, 45);
  transition: .5s;
  font-size: 1.4rem;
}
.button-link:hover {
    text-decoration: none;
}
#button {
  padding-bottom: 4.5rem;
}
video {
  display: flex;
  margin: auto;
}