  .modalDisplay {
   position:relative;
  top:25%;
  left:25%;
  width:50%;
  overflow-y: scroll;
  height:68%; 
  background-color: rgba(14, 49, 80, 1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  }

   .newRel {
    text-align: center;
    font-family: 'Domine', serif;
    font-size: 3vw;
    color: #FFC0C2 ;
    font: bold;
    width: 100%;
    margin-top:10px;
  }

  .modalButt{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #d44b50;
    color: #0e3150;
    border-color: #d44b50;
    font-weight: bold;
    font-family: 'Domine', serif;
  }

  .modalButt:hover{
    background-color: #0e3150;
    color: #FFC0C2;
    border: 1px solid #FFC0C2 ;
  }
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
  }
  .ReactModal__Overlay--after-open{
    opacity: 1;
  }
  .ReactModal__Overlay--before-close{
    opacity: 0;
  }

  .card-div {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
  }