.card-container {
    display: flex;
    max-width: 600px;
    min-width:250px;
    min-height:422px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top:50px;
    align-items: center;
    border-radius:5%;
    background-color:rgba(0,0,0,.7);
    color: #FFC0C2; 
    
}

.card-image{
    height:300px;
    width:200px;
    margin-top:20px;
}

.card-body{
    text-align: center;
}

.card-button{
    background-color: #FFC0C2;
    color: #0e3150;
    border: 1px solid #FFC0C2;
}

.card-button:hover{
    background-color: #0e3150;
    color: #FFC0C2;
    border: 1px solid #FFC0C2 ;
}
