@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia&effect=fire");

.main-container {
  margin-top: 15px;
}
.info-container {
  background-color: #0e3150;
  color: #ffc0c2;
  font-family: "Domine", serif;
  text-align: center;
  margin:30px;
  padding-bottom: 15px;
}

.displayInfo::after {
  border: 3px solid #0e3150;
  padding: 5px;
  content: "";
  clear: both;
  display: table;
  
}

.img-container {
  background-color: transparent;
  border: none;
  color: #ffc0c2;
  font-family: "Domine", serif;
  margin: auto;
  max-width:500px;
  text-align: center;
}

.movieTitle {
  font-size: 50px;
  margin-bottom: 0%;
  padding-bottom: 0%;
  color:rgba(253, 187, 45, 1)!important;
  font-family: "Georgia", sans-serif!important;
  font-weight: bold!important;
  /* text-shadow: 2px 2px px rgb(178, 178, 233); */
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;

}

.time {
  font-size: 17px;
  margin-top: 0%;
  padding-top: 0%;
}

.header-text {
    font-size: 26px;
    margin-bottom: 0%;
    color:rgb(147, 245, 246)!important;
}

.info-text {
  font-size: 18px;
}

.displayInfo {
  font-size: 30px;

}

.resultsBtn {
  background-color: rgba(253, 187, 45, 1);
  color: #0e3150;
  border: 1px solid rgba(253, 187, 45, 1);
}

.resultsBtn:hover {
  background-color: #0e3150;
  color: rgba(253, 187, 45, 1) ;
  border: 1px solid rgba(253, 187, 45, 1);
}
