@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");

.main-container {
  margin-top: 15px;
}
.info-container {
  background-color: #0e3150;
  color: #ffc0c2;
  font-family: "Domine", serif;
  text-align: center;
  border-radius: 5%;
  padding-bottom: 15px;
}

.displayInfo::after {
  border: 3px solid #0e3150;
  padding: 5px;
  content: "";
  clear: both;
  display: table;
}

.img-container {
  background-color: transparent;
  border: none;
  color: #ffc0c2;
  font-family: "Domine", serif;
  margin: auto;
  max-width:500px;
  text-align: center;
}

.movieTitle {
  font-size: 50px;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.time {
  font-size: 17px;
  margin-top: 0%;
  padding-top: 0%;
}

.header-text {
  font-size: 26px;
}

.info-text {
  font-size: 18px;
}

.displayInfo {
  font-size: 30px;
}

.resultsBtn {
  background-color: #ffc0c2;
  color: #0e3150;
  border: 1px solid #ffc0c2;
}

.resultsBtn:hover {
  background-color: #0e3150;
  color: #ffc0c2;
  border: 1px solid #ffc0c2;
}
