@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

.textBox{
    text-align: center;
    padding-top: 5rem;
    font-family: Georgia, serif;
}
#searchBar{
    text-align: center;
    font-size: 25px;
    padding: 25px;
    width: 50%;
    height: 80px;
    border-color:#4b4969;
    outline: none;
}
.submitButt{
    height: 80px;
    width: 100px;
    font-size: 25px;
    background-color:#FFC0C2;
    margin-left: 10px;
    padding: 7px;
    border: none;
}
