@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  /* background: rgb(14,49,80); */
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
/* background: linear-gradient(90deg, rgba(14,49,80,1) 0%, rgba(109,201,200,1) 47%, rgba(247,233,227,1) 100%); */
  font-family: "work sans";
  overflow-x: hidden;
  }

